<div class="container">
  <div class="section section--center">
    <h2 class="section__title--small"><%= t("devise.registrations.sign_up") %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f| %>
      <%= honeypot_spam_prevention_tag %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form__field">
        <%= f.label :display_name %>
        <%= f.text_field :display_name, autofocus: true %>
      </div>

      <div class="form__field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", placeholder: t("devise.placeholder.email") %>
      </div>

      <div class="form__field">
        <%= f.label :password, t("devise.passwords.password") %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> <%= t("devise.registrations.characters_minimum") %> </em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form__field">
        <%= f.label :password_confirmation, t("devise.passwords.password_confirmation") %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="buttons-bar">
        <%= f.submit t("devise.registrations.sign_up"), class: "button button--confirm button--large" %>
      </div>
    <% end %>
  </div>

  <div class="section section--center">
    <p><%= t("devise.registrations.log_in_instead_html", url: new_session_path(resource_name)) %></p>
  </div>
</div>
