<tr
  id="<%= dom_id(@row) %>"
  class="<%= classes %>"
  data-controller="row"
  data-layer-target="row"
  data-action="focusin->layer#row_focused row:highlighted->layer#activate"
  data-layer-feature-id-param="<%= @row&.feature_id %>">

    <%= calculated_columns %>

    <% @row.fields_values.each do |field, value| %>
      <%= render FieldTdComponent.new(field: field) do %>
        <% render FieldValueComponent.new(field: field, value: value, row: @row, form_prefix: :inline_form) %>
      <% end %>
    <% end %>

  <td id="<%= dom_id(@row, "actions") %>" class="layer-table__td layer-table__td--actions">
    <div class="buttons-bar buttons-bar--tight">
      <%= button_to(@row,
            class: "icon-button icon-button--small",
            method: :delete,
            title: t("layers.layer.delete_row"),
            form: {data: {"turbo-confirm": t("common.confirm")}},
            data: {restricted_target: "restricted", restricted_hidden: true, restricted_authorizations: %w[owner editor].to_json}) do %>
        <%= helpers.embedded_svg("remove_item.svg", class: "icon--small icon--tinted") %>
      <% end %>
      <%= link_to(edit_row_path(@row),
            class: "icon-button icon-button--small",
            title: t("common.edit"),
            data: {turbo_frame: "modal", restricted_target: "restricted", restricted_hidden: true, restricted_authorizations: RowPolicy.authorizations(@row)}) do %>
        <%= helpers.embedded_svg("edit.svg", class: "icon--small") %>
      <% end %>
      <%= row_tag_form %>
      <button
        class="icon-button icon-button--small"
        title="<%= t("layers.layer.center_on_row") %>"
        data-action="map#center"
        data-map-bounds-param="<%= @row.bounding_box.to_json %>">
        <%= helpers.embedded_svg("center.svg", class: "icon--small icon--tinted") %>
      </button>
    </div>
  </td>
</tr>
