<tr id="<%= dom_id(@layer, :stats) %>" class="layer-table__tr layer-table__tr--stats">
  <%# FIXME: this makes an N+1 request per-field and per-layer. %>
  <%# We may want to aggregate all sum calculations in one single request. %>
  <%= Prosopite.pause { calculated_columns } %>
  <% @layer.fields.each do |field| %>
    <td class="layer-table__td layer-table__td--stats">
      <%= Prosopite.pause { number_with_delimiter(field.sum) } %>
    </td>
  <% end %>
  <td class="layer-table__td layer-table__td--actions"></td>
</tr>
