<p><%= t(".hello") %> <%= @user_role.user.display_name %>,</p>
<p><%= t(".invitation_map_html", inviter: @inviter.display_name, map: @user_role.map.name) %></p>
<p><%= link_to t(".access_map"), map_url(@user_role.map, locale: I18n.locale), class: "button button--confirm button--large" %></p>
