<%# params: @maps %>
<div class="container">
  <section class="section">
    <h2 class="section__title"><%= Map.model_name.human(count: 2) %></h2>
    <ul class="list">
      <% @maps.with_last_updated_row_id.includes(last_updated_row: :author).find_each do |map| %>
        <li class="list-element">
          <%= link_to map, class: "list-element__row list-element__row--link" do %>
            <div class="list-element__content">
              <h3 class="list-element__title"><%= map.name %></h3>
              <div class="list-element__description">
                <span><%= map.layers.size %> <%= Layer.model_name.human(count: map.layers.size).downcase %></span>
                <span><%= @maps_rows_count[map.id] %> <%= Row.model_name.human(count: @maps_rows_count[map.id]).downcase %></span>
                <span><%= t(".role_description.#{current_user.access_for_map(map).role_type}") %></span>
              </div>
              <div class="list-element__description">
                <%= map_updated_at_span(map.last_updated_row, map.last_updated_row&.author) %>
              </div>
            </div>
            <div class="icon-button icon-button--large list-element__row--link-button"><%= embedded_svg "chevron_droite.svg", class: "icon--tinted" %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if current_user.anonymous? %>
      <div>
        <%= link_to t(".create_account"), new_user_registration_path, class: "button button--large button--confirm" %>
        <p><%= t("devise.registrations.log_in_instead_html", url: new_user_session_path) %></p>
      </div>
    <% else %>
      <%= link_to t("helpers.link.map.new"), new_map_path, class: "button button--large button--confirm", data: {turbo_frame: "modal"} %>
  <% end %>
  </section>
</div>
