<%# params: @map, @role_type, @initially_active_layer %>
<% @initially_active_layer ||= @map.layers.ordered.first %>

<% content_for :header do %>
  <div class="header--start">
    <div class="buttons-bar buttons-bar--tight">
      <%= link_to maps_path, class: "button button--large button--text button--lowercase" do %>
        <%= embedded_svg "chevron_gauche.svg", class: "icon--narrow icon--tinted" %>
        <%= t(".all_maps") %>
      <% end %>
      <div class="buttons-segmented-bar"
           data-controller="segmented-bar" data-segmented-bar-dragbar-outlet=".map_document__container">
        <button class="button button--large button--text button--lowercase" data-segmented-bar-target="button" data-segmented-bar-value-param="table" data-action="segmented-bar#toggle">
          <%= t(".table") %>
        </button>
        <button class="button button--large button--text button--lowercase" data-segmented-bar-target="button" data-segmented-bar-value-param="map" data-action="segmented-bar#toggle">
          <%= t(".map") %>
        </button>
      </div>
    </div>
  </div>
  <div class="header--center">
    <%= render "name", map: @map %>
  </div>
  <div class="header--end"
       data-controller="presence-indicator"
       data-action="presence-tracker.connection-changed@document->presence-indicator#presenceChanged"
       data-presence-indicator-event-detail-attribute-value="connected"
       data-presence-indicator-on-title-value="<%= t("presence_indicator.connected") %>"
       data-presence-indicator-off-title-value="<%= t("presence_indicator.disconnected") %>">
    <div class="buttons-bar buttons-bar--tight">
      <% if policy(@map.user_roles.new).new? %>
        <%= link_to t(".share"), map_user_roles_path(@map), class: "button button--large button--text button--lowercase", data: {turbo_frame: "modal"} %>
      <% end %>
      <% if policy(@map.import_configurations.new).new? %>
        <%= link_to "Imports", map_import_operations_path(@map), class: "button button--large button--text button--lowercase", data: {turbo_frame: "modal"} %>
      <% end %>
      <%= render "header_menu_signed_in" %>
    </div>
    <div data-presence-indicator-target="indicator"></div>
  </div>
<% end %>

<% content_for(:footer)do %>
  <div hidden></div>
<% end %>

<% content_for :left_pane do %>
  <div
    class="map-data__container"
    data-controller="layer-selection">
    <div id="<%= dom_id(@map, "layers") %>">
      <% @map.layers.includes(:fields, :rows, :territory_categories).ordered.each_with_index do |layer, index| %>
        <% cache layer do %>
          <%= render layer, initially_active: layer == @initially_active_layer %>
          <% end %>
      <% end %>
    </div>
    <footer class="footer__layer-list">
      <%= link_to t("helpers.link.layer.new"), new_map_layer_path(@map), class: "button button--large button--confirm", data: {turbo_frame: "modal"} if policy(@map.layers.new).create? %>
    </footer>
  </div>
<% end %>

<% content_for :right_pane do %>
  <div class="map" data-map-target="map">
    <%= render "toolbar", map: @map %>
  </div>
<% end %>

<%= turbo_stream_from @map %>
<%= turbo_stream_i18n_from @map %>

<%= render "shared/dragbar", map: @map, role_type: @role_type, current_user_id: current_user_identifier %>
