<%# locals: (user_role:) %>

<%= form_with model: user_role, id: dom_id(user_role)  do |form| %>
  <div class="list-element__row list-element__row--grid">
    <div class="form__field">
      <%= form.select :role_type, options_for_role_type_select(user_role) %>
    </div>

    <div class="form__field">
      <%= form.fields_for :user do |f| %>
        <%= f.email_field :email, readonly: true %>
        <% if f.object.invitation_accepted_at %>
          <em><%= t(".invitation_accepted_at", at: I18n.l(f.object.invitation_accepted_at, format: :sentence)) %></em>
        <% elsif f.object.invitation_sent_at %>
          <em><%= t(".invitation_sent_at", at: I18n.l(f.object.invitation_sent_at, format: :sentence)) %></em>
        <% end %>
      <% end %>
    </div>

    <div class="form__field">
      <% confirm_message = (user_role.user == current_user) ? t(".confirm_relegate_self") : nil %>
      <%= form.submit class: "button button--slim button--confirm", data: {turbo_confirm: confirm_message} %>

      <% delete_message = (user_role.user == current_user) ? t(".confirm_delete_self") : t("common.confirm") %>
      <%= link_to t("helpers.link.user_role.delete"), user_role,
            class: "button button--slim button--link button--lowercase",
            data: {turbo_method: :delete, turbo_confirm: delete_message} %>
    </div>
  </div>
<% end %>
