<%# locals: (map_token:) %>

<%= form_with model: map_token, id: dom_id(map_token) do |form| %>
  <div class="list-element__row list-element__row--grid">
    <div class="form__field">
      <%= form.select :role_type, options_for_role_type_select(map_token), {}, disabled: true %>
    </div>

    <div class="form__field">
      <%= form.text_field :name %>
      <div class="form__field">
        <%= form.label :url_to_share %>
        <div class="form__input-with-button" data-controller="clipboard">
          <%= text_field_tag :url_to_share, map_shared_url(map_token.token), data: {clipboard_target: "source"}, autocomplete: :off, readonly: true %>
          <button data-action="clipboard#copy" class="icon-button icon-button--alternate" title="<%= t("common.copy") %>"><%= embedded_svg "copy.svg" %></button>
        </div>
      </div>

      <%# There is an N+1 per-contribution token here: each contribution token will repeat a similar DB request.
        # The number of sharing tokens per map is expected to be low (~ 1-10), so this is acceptable.
        # For now the default layer displayed on the contribution form is the first one.
        # TODO: make the default layer configurable in the sharing UI. %>

      <% first_point_layer = map_token.map.layers.ordered.geometry_point.first %>
      <% if map_token.is_at_least(:contributor) && first_point_layer.present? %>
        <div class="form__field">
          <%= form.label :url_to_contribute %>
          <div class="form__input-with-button" data-controller="clipboard">
            <%= text_field_tag :url_to_contribute, new_layer_row_url(layer_id: first_point_layer, token: map_token.token), data: {clipboard_target: "source"}, autocomplete: :off, readonly: true %>
            <button data-action="clipboard#copy" class="icon-button icon-button--alternate" title="<%= t("common.copy") %>"><%= embedded_svg "copy.svg" %></button>
          </div>
        </div>
      <% end %>
      <em><%= t(".access_count", count: map_token.access_count) %></em>
    </div>

    <div class="form__field">
      <%= form.submit class: "button button--slim button--confirm" %>

      <%= link_to t("helpers.link.map_token.delete"), map_token,
            class: "button button--slim button--link button--lowercase",
            data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} %>
    </div>
  </div>
<% end %>
