<div class="card__main-content card--large">
  <h2 class="form__header"><%= Import::Operation.model_name.human(count: 2) %></h2>
  <% collection = @operations.order(created_at: :desc)
       .includes(reports: [mapping: :layer], configuration: [:map, mappings: [layer: :fields]])
       .with_attached_local_source_file %>
  <%= render partial: "operation", collection: collection, cached: true, locals: {in_index: true} %>
</div>
