<div class="card__main-content card__main-content--wide">
  <h2 class="form__header"><%= Import::Operation.model_name.human %></h2>

  <%= form_with model: [@operation.configuration.map, @operation], id: dom_id(@operation, :form), class: "form" do |form| %>

    <%= render "shared/errors", resource: @operation %>

    <div class="form__section">
      <div data-controller="files"
        class="files-list import__source import__source--drop-area"
        data-files-target="dropArea list"
        data-files-autosubmit-value="true"
        data-files-types-value="<%= Import::Configuration.all_mimes.to_json %>"
        data-files-max-size-value="<%= Import::Operation::MAX_SOURCE_FILE_SIZE %>"
        data-files-item-removed-text-value="<%= t("field.file_removed") %>"
        data-files-item-added-text-value="<%= t("field.file_added") %>"
        data-files-item-complete-text-value="<%= t("field.file_complete") %>"
        data-files-item-too-big-text-value="<%= t(".file_too_big", max_size: number_to_human_size(Import::Operation::MAX_SOURCE_FILE_SIZE)) %>">
        <div class="files-item files-item--single-button">
          <label class="files-item__content">
            <%= embedded_svg "upload-cloud.svg", class: "icon--regular" %>
            <%= form.label :local_source_file, class: "files-item__title" %>
            <%= form.file_field :local_source_file, data: {files_target: "fileInput"}, direct_upload: true, hidden: true %>
          </label>
        </div>
        <template data-files-target="template">
          <div class="files-item files-item--single-button">
            <div class="files-item__content">
              <%= embedded_svg "file-up.svg" %>
              <div>
                <div class="files-item__title"></div>
                <div class="files-item__metadata"></div>
                <div class="files-item__status"></div>
                <progress class="files-item__progress" max="100" value="0"></progress>
              </div>
            </div>
          </div>
        </template>
      </div>

      <h3><%= t(".or") %></h3>

      <div class="form__field form__field--large">
        <%= form.label :remote_source_url %>
        <div class="form__input-with-button">
          <%= form.url_field :remote_source_url, placeholder: t(".url_placeholder") %>
          <%= form.button t("common.ok"), class: "button button--alternate" %>
        </div>
      </div>

      <label class="import__help">
        <%= t(".help_html") %>
      </label>
    </div>

    <%# Nest the map_id and layer_id hidden fields to create the right configuration objects %>
    <%= form.fields_for :configuration do |configuration_form| %>
      <%= configuration_form.hidden_field :map_id %>
      <%= configuration_form.fields_for :mappings do |mapping_form| %>
        <%= mapping_form.hidden_field :layer_id %>
      <% end %>
    <% end %>
  <% end %>
</div>
