<%# locals: (form:) %>
<% layer = form.object %>

<div data-controller="layer-form">
  <div class="form__field form__field--large">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true,
          placeholder: (layer.persisted? ? layer.geometry_type_description : nil) %>
  </div>

  <h4 class="form__header"><%= Layer.human_attribute_name(:color) %></h4>
  <div class="form__field form__field--large layer-form__color-field">
    <% Layer::COLORS.each do |key, rgb| %>
      <div class="form__field form__field--large form__field--inline">
        <%= form.radio_button :color, rgb, data: {"layer-form-color-param": rgb, "layer-form-target": "colorInput", action: "layer-form#colorSelected"} %>
        <%= form.label :color, t(key, scope: "colors"), value: rgb %>
      </div>
    <% end %>
  </div>

  <% if layer.new_record? %>
    <h4 class="form__header"><%= Layer.human_attribute_name(:geometry_type) %></h4>
    <div class="form__field form__field--large form__field--inline layer-form__type-field">
      <% Layer.geometry_types.keys.each do |type| %>
        <%= form.label "geometry_type_#{type}" do %>
          <%= form.radio_button :geometry_type, type, checked: type == "point", data: {"layer-form-type-param": type, action: "layer-form#typeSelected"} %>
          <div class="layer-form__type-option">
            <div data-layer-form-target="icon"><%= embedded_svg "#{type}.svg" %></div>
            <%= Layer.human_attribute_name(type, count: 2).capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>

    <h4 class="form__header" hidden data-layer-form-target="territoryCategories"><%= TerritoryCategory.model_name.human(count: 2) %></h4>
    <div class="form__field" hidden data-layer-form-target="territoryCategories">
      <%= form.collection_check_boxes :territory_category_ids, TerritoryCategory.all, :id, :to_s do |b| %>
        <%= b.label(class: "form__field form__field--large form__field--inline") { b.check_box + b.text } %>
      <% end %>
    </div>
  <% end %>
</div>
