<%# locals: (layer:, initially_active: false, order: Ordering::Order.new) %>

<turbo-frame id="<%= dom_id(layer) %>">
<div
  class="layer-container"
  data-controller="layer"
  data-layer-id-value="<%= dom_id(layer) %>"
  data-action="layer:row_focused->map#selectFeature"
  data-layer-layer-outlet=".layer-container.is-active"
  data-layer-map-outlet=".map_document__container"
  data-layer-add-feature-text-value="<%= t("common.add_geometry.#{layer.geometry_type}") %>"
  data-layer-geometry-type-value="<%= layer.geometry_type %>"
  data-layer-initially-active-value="<%= initially_active %>">

  <%= render "layers/layer_header", layer: layer %>
  <div id="<%= dom_id(layer, :updates) %>" hidden></div>

  <div class="layer-contents">
    <%= render "layers/rows", layer: layer, order: order %>

    <%= render "rows/new", row: Row.new(layer: layer) %>

    <footer class="layer-footer">
      <div class="buttons-bar">
        <%= link_to new_map_import_operation_path(layer.map, layer_id: layer), title: t("helpers.link.layer.import"),
              class: "icon-button icon-button--double-bordered icon-button--small",
              data: {turbo_frame: "modal",
                     restricted_target: "restricted", restricted_authorizations: '["owner", "editor", "contributor"]'} do %> <%# Cf policy(row).new? %>
          <%= embedded_svg "file-up.svg" %>
        <% end %>
        <div class="dropdown" data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="trigger">
          <button class="icon-button icon-button--double-bordered icon-button--small" title="<%= t("helpers.link.layer.export") %>">
            <%= embedded_svg "file-down.svg" %>
          </button>
          <div class="dropdown__content" data-dropdown-target="content">
            <div class="card__main-content">
              <%= link_to t("helpers.link.layer.export_geojson"), layer_path(layer, format: :geojson), download: "#{layer.name}.geojson" %>
              <%= link_to t("helpers.link.layer.export_csv"), layer_path(layer, format: :csv), download: "#{layer.name}.csv" %>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</turbo-frame>
