<%# locals: (layer:) %>

<header class="layer-header" id="<%= dom_id(layer, :header) %>" data-action="click->layer#toggleTable:self">
  <%= link_to edit_layer_path(layer), class: "layer-header__name-button", title: t("common.edit"),
        data: {turbo_frame: "modal",
               restricted_target: "restricted", # cf LayerPolicy#update?
               restricted_authorizations: %w[owner editor].to_json} do %>
    <div class="layer-header__icon">
      <%= embedded_svg "#{layer.geometry_type}.svg", class: "icon--regular", style: "color: #{layer.color}" %>
    </div>

    <%= layer.name.presence || layer.geometry_type_description %>
  <% end %>

  <div class="buttons-bar buttons-bar--tight">
    <% if layer.rows.present? %>
      <button class="layer-header__icon button layer-header__button--link"
        title="<%= t(".center_on_layer") %>"
        data-action="click->map#center"
        <%# This makes an N+1 request per-layer. %>
        <%# FIXME: refactor this into some JS dynamically fetching the bounding box when the button is clicked. %>
        data-map-bounds-param="<%= Prosopite.pause do layer.rows.bounding_box.to_json end %>">
        <%= embedded_svg "frame.svg", class: "icon--small" %>
      </button>
    <% end %>
    <button class="layer-header__icon button layer-header__button--link"
      title="<%= t(".hide_layer_on_map") %>"
      data-layer-target="hideButton"
      data-action="click->layer#hideOnMap">
      <%= embedded_svg "eye.svg", class: "icon--small" %>
    </button>
    <button class="layer-header__icon button layer-header__button--link"
      title="<%= t(".show_layer_on_map") %>"
      data-layer-target="showButton"
      data-action="click->layer#showOnMap"
      hidden>
      <%= embedded_svg "eye-off.svg", class: "icon--small" %>
    </button>
    <button
      class="layer-header__icon button layer-header__toggle-button"
      title="<%= t(".toggle_layer") %>"
      data-action="layer#toggleTable">
      <%= embedded_svg "chevron_droite.svg", class: "icon--regular icon--tinted layer__indicator" %>
    </button>
  </div>
</header>
