<%# locals: (layer:, order: nil) %>
<%# renders a full table of editable rows for a layer %>

<table class="layer-table">
  <thead class="layer-table__thead">
    <tr class="layer-table__tr">
      <%# calculated columns first %>
      <% if layer.geometry_territory? %>
        <th class="layer-table__th layer-table__th--field">
          <div class="layer-table-th__contents layer-table-th__contents--resizable">
            <%= Territory.model_name.human %>
          </div>
        </th>
        <th class="layer-table__th layer-table__th--stats"><div class="layer-table-th__contents"><%= t("common.territory_code") %></div></th>
      <% elsif layer.geometry_point? %>
        <th class="layer-table__th layer-table__th--stats"><div class="layer-table-th__contents"><%= t("common.longitude") %></div></th>
        <th class="layer-table__th layer-table__th--stats"><div class="layer-table-th__contents"><%= t("common.latitude") %></div></th>
      <% elsif layer.geometry_line_string? %>
        <th class="layer-table__th layer-table__th--stats"><div class="layer-table-th__contents"><%= t("common.length") %></div></th>
      <% elsif layer.geometry_polygon? %>
        <th class="layer-table__th layer-table__th--stats"><div class="layer-table-th__contents"><%= t("common.area") %></div></th>
      <% end %>

      <%= render layer.fields, order: order %>

      <%= render Field.new(layer: layer) %>
    </tr>
  </thead>
  <tbody id="<%= dom_id(layer, :rows) %>">
    <% rows = Prosopite.pause do # technically this is a N+1 (one for each layer), but we actually *want* this.
         layer.rows_with_fields_values.order(order.sql).load
       end %>
    <%= render partial: "rows/row_tr", collection: rows, as: :row, cached: ->(row) { [row, row.layer] } %>
  </tbody>
  <tfoot>
    <%= render StatsFooterComponent.new(layer: layer) %>
  </tfoot>
</table>
