<%# locals: (geometry:) %>

<script
  id="<%= geometry.id %>"
  data-territory-target="geometry"
  data-lng-min="<%= geometry.geo_lng_min %>"
  data-lat-min="<%= geometry.geo_lat_min %>"
  data-lng-max="<%= geometry.geo_lng_max %>"
  data-lat-max="<%= geometry.geo_lat_max %>">
  <%= geometry.geojson.html_safe %>
</script>
