<%# locals: (form:) %>
<% operation = form.object %>

<div class="form__section">
  <% if operation.local_source_file.present? %>
    <div class="files-list import__source">
      <div class="files-item files-item--single-button">
        <div class="files-item__content">
          <%= link_to operation, data: {turbo_method: :delete}, class: "icon-button files-item__remove-button" do %>
            <% embedded_svg("remove_item.svg", class: "icon--small icon--tinted") %>
          <% end %>
          <%= embedded_svg("file.svg", class: "icon--regular") %>
          <div>
            <div class="files-item__title"><%= operation.local_source_file.blob.filename %></div>
            <div class="files-item__metadata"><%= number_to_human_size(operation.local_source_file.blob.byte_size) %></div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="form__field form__field--large">
      <%= form.label :remote_source_url %>
      <div class="form__input-with-button">
        <%= form.url_field :remote_source_url, readonly: true %>
        <%= link_to operation, data: {turbo_method: :delete}, class: "icon-button icon-button--alternate" do %>
          <% embedded_svg("remove_item.svg", class: "icon--regular icon--tinted") %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= form.fields_for :configuration do |configuration_form| %>
    <div class="form__field form__field--large form__field--inline import__form-grid"
         title="<%= t(".source_type_help") %>">
      <%= configuration_form.label :source_type, t(".import_as"), class: "form__field--large" %>
      <%= configuration_form.select :source_type, operation.possible_source_types.index_by { Import::Configuration.human_attribute_name("source_type.#{_1}") }, {}, class: "form__field--large", onchange: "this.form.requestSubmit()" %>
      <%= partial_name = "import/operations/form/configuration/#{configuration_form.object.source_type}"
          render(partial_name, configuration_form: configuration_form) if lookup_context.exists?(partial_name, [], true) %>
    </div>

    <% if operation.duplicable? && current_user.admin? %>
      <div class="form__field form__field--large form__field--inline import__form-grid">
        <%= configuration_form.label :recurrence, class: "form__field--large" %>
        <%= configuration_form.text_field :recurrence, class: "form__field--large", placeholder: t(".recurrence_placeholder") %>
      </div>
    <% end %>
<% end %>

  <%= render "shared/errors", resource: operation %>
</div>
