// Content layout for all regular pages (everything but maps/show)
.container {
  padding: var(--content-padding);
  max-width: var(--content-max-width);
  width: 100%;
}

@media (width <= 850px) {
  .container {
    padding: 2rem 1rem;
  }
}

.section {
  display: flex;
  gap: 46px;
  flex-direction: column;
  max-width: 600px;
}

.section + .section {
  margin-top: 64px;
}

@media (width <= 850px) {
  .section + .section {
    margin-top: 32px;
  }
}

.section--center {
  // Default is left
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.section--breakout {
  margin: 0 calc(50% - 50vw);
}

.section__title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.section__title--small {
  color: var(--color-text);
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.bordered-box {
  background-color: var(--color-bg-ambient-10);
  border-style: double;
  border-color: var(--color-grey-100);
  border-width: 3px;
}
