.footer {
  color: var(--color-bg-ambient-10);
  background: var(--color-green-90);
}

.footer__container {
  display: flex;
  margin: auto;
  gap: 2em var(--content-padding-large);
  flex-wrap: wrap;
}

.footer__column {
  line-height: 2em;

  h3 {
    font-variant: small-caps;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: unset;
  }
}
