:root {
  --input-bg-empty: #fafafa;
  --input-border-color: var(--color-grey-60);
  --input-border-focus-color: #288cff;
  --input-outline-focus:
    0 0 0 1px #9cf, 0 0 5px 0 #4da2ff66, inset 0 0 5px 0 #1488f333;
}

// General form rules
fieldset {
  border: none;
}

input,
label,
select,
textarea {
  font-size: inherit;
}

// Hide browser-specific decoration of number inputs
input[type="number"] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form__header {
  margin: 0 0 8px;
}

.form__details {
  .form__details-summary {
    margin: 0 0 16px;
  }

  .form__details-contents {
    margin: 8px 0 8px 16px;
  }
}

.form__field {
  // A sub-unit of a form. Can be nested.
  // Most form input labels and inputs should be inside a form__field div
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  font-weight: normal;

  label {
    color: var(--color-grey-90);
  }

  input:not(
      [type="checkbox"],
      [type="radio"],
      [type="submit"],
      [type="button"],
      [type="file"],
      [type="color"]
    ),
  select,
  textarea {
    font-family: var(--font-sans);
    padding: 7px 9px 9px;
    line-height: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px var(--color-grey-40) inset;

    /* matches an empty input */
    &:invalid {
      background-color: var(--input-bg-empty);
      border-color: var(--color-grey-50);
    }

    &:focus {
      outline: none;
      border-color: var(--input-border-focus-color);
      box-shadow: var(--input-outline-focus);
    }

    &:read-only {
      background: var(--color-grey-10);
      border-color: var(--color-grey-50);
      color: var(--color-grey-90);
      box-shadow: 0 1px 4px var(--color-grey-40) inset;
    }
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
  }

  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid var(--input-border-color);
    box-shadow: 0 1px 4px var(--color-grey-30) inset;
    display: inline-block;
    height: 16px;
    width: 20px;
    accent-color: var(--color-green-70);
  }
}

.form__field + .form__header {
  margin-top: 16px;
}

.form__field--inline {
  align-items: center;
  flex-direction: row;
}

.form__field--slim {
  font-size: 11px;
  font-weight: lighter;
  gap: 3px;
}

.form__field--large {
  font-size: 16px;
}

.form__field--bottom {
  margin-top: auto;
}

.form__field--file {
  align-items: center;
  flex-direction: row;
}

.form__input-narrow {
  max-width: 72px;
}

input[type="radio"]:not(:checked) + input[type="color"].color-picker {
  visibility: hidden;
}
