.header__container {
  background-color: var(--color-bg-ambient-20);
  border-bottom: 0.5px solid var(--color-grey-40);
}

.header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header--start {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.header--center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header--end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header--bar {
  flex-basis: 100%;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--app {
  height: var(--header-height);
  min-height: var(--header-height);
  padding-inline: 8px;
}

.header--large {
  height: var(--welcome-header-height);
  min-height: var(--welcome-header-height);
  padding-inline: 64px;
  max-width: var(--content-max-width);
  margin: auto;
}

.header__logo {
  display: flex;
  width: auto;

  &:hover {
    svg {
      fill: var(--color-green-80);
    }
  }

  svg {
    width: auto;
    fill: var(--color-green-70);
    padding-block: 6px 10px;
    padding-inline-start: 16px;
    height: 40px;
  }
}

.header__cartouche {
  margin-top: var(--welcome-header-height);
  height: var(--welcome-header-height);
}

@media (width <= 850px) {
  .header {
    flex-direction: column;
    gap: 8px;
    padding-block: 8px;
    padding-inline: 8px;
    align-items: center;
  }

  .header--app,
  .header--large {
    height: revert;
  }

  .header__cartouche {
    margin-top: 0;
  }
}
