/* MAIN LANDING PAGE */

.container--landing-page {
  margin-top: 96px;
}

.section--landing-page {
  display: flex;
  gap: 2.5rem;
  flex-direction: row;
  max-width: 100%;

  &:nth-child(1) {
    justify-content: center;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (width <= 850px) {
  .container--landing-page {
    margin-top: 16px;
  }

  .section--landing-page {
    flex-direction: column;

    &:nth-child(even) {
      flex-direction: column;
    }
  }
}

.section--single-column {
  display: block;
}

.section--landing-banner {
  margin-top: var(--content-padding);
  margin-bottom: var(--content-padding);
  text-align: center;
  background: repeating-linear-gradient(
    135deg,
    var(--color-bg-ambient-30),
    var(--color-bg-ambient-30) 2px,
    var(--color-bg-ambient-40) 2px,
    var(--color-bg-ambient-40) 4px
  );

  .container {
    max-width: 800px;
    margin: auto;
  }

  .button {
    margin: 32px auto -16px;
  }
}

.landing-section__block {
  font-size: 18px;
  color: var(--color-grey-90);
  line-height: 1.6;
  flex-basis: 50%;
}

.landing-section__block--text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 16px;

  > ul {
    margin-left: 1em;
  }
}

.landing-section__block--logo {
  img {
    width: 100%;
  }
}

.landing-section__block--hero {
  background: var(--color-bg);
  padding: 50px 40px;
  border: 3px double black;
}

.landing-section__block--illustration {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  border: 0.5px solid var(--color-grey-60);
  padding: 8px;

  img {
    width: 100%;
  }

  position: relative;
}

.landing-section__call-to-action {
  position: absolute;
  inset: 0;
  margin: auto;
  visibility: hidden;
}

.landing-section__block--illustration:hover {
  .landing-section__call-to-action {
    visibility: visible;
  }
}

.landing-section__block--actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.pricing-grid {
  display: grid;
  grid-template:
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    auto / 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin: auto;
  padding: 1px;
  gap: 0 1px;
  border: 1px solid;
  font-size: 18px;
}

@media (width <= 850px) {
  .pricing-grid {
    display: flex;
    flex-direction: column;
  }

  .pricing-grid__price:not(:last-child) {
    margin-bottom: 24px;
  }
}

/* Pricing grid borders */
.pricing-grid,
.pricing-grid__cell {
  border-style: solid;
  border-color: var(--color-grey-100);
  border-width: 1px;
}

.pricing-grid__cell {
  padding: 0 30px;
  background: white;
  border-width: 0 1px;
}

.pricing-grid__top-cell {
  border-top-width: 1px;
}

.pricing-grid__bottom-cell {
  border-bottom-width: 1px;
}

.pricing-grid__plan-title h4 {
  margin: 24px auto;
  text-align: center;

  /* Separator */
  &::after {
    display: block;
    content: " ";
    width: 100%;
    margin: 24px auto;
    height: 1px;
    background: var(--color-grey-50);
  }
}

.pricing-grid__previous-plan {
  font-size: 16px;
  font-style: italic;
}

.pricing-grid__list {
  ul {
    margin-top: 24px;
    margin-bottom: 16px;
    list-style-position: inside;
  }

  li {
    list-style: none;
    padding-left: 1.8rem;
    background: url("succes-cercle-vert.svg") no-repeat left 1px;
    background-size: 20px 20px;

    & + li {
      margin-top: 16px;
    }
  }
}

.pricing-grid__price {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-weight: bold;

  /* Separator */
  &::before {
    display: block;
    content: " ";
    width: 100%;
    margin: 0 auto 24px;
    height: 1px;
    background: var(--color-grey-50);
  }
}
