// Layer data tables

// left pane of main page
.map-data__container {
  width: fit-content;
  height: 100%;
  padding: 0;
}

// Outside container for each layer
.layer-container {
  margin: 0;
  background-color: var(--color-grey-30);
}

.layer-container.is-active {
  z-index: var(--active-layer-z-index);
  position: relative;
}

// Layer header, in a layer-container. Always visible
.layer-header {
  width: var(--left-pane-width);
  transition: width var(--pane-transition);
  position: sticky;
  top: 0;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--color-bg-ambient-30);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px white;
  border-bottom: solid 1px var(--color-grey-40);
  z-index: var(--layer-header-z-index);

  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}

.layer-header__icon {
  height: 28px;
  width: 28px;
  padding: 2px;
}

.layer-header__button--link {
  color: var(--color-green-70);
  background-color: transparent;

  &:hover:not([disabled], :active) {
    color: var(--color-green-90);
    background-color: var(--color-bg-ambient-10);
  }

  &:hover:active {
    color: var(--color-green-100);
    background-color: var(--color-bg-ambient-10);
  }
}

.layer-header__name-button {
  height: 28px;
  display: flex;
  align-items: center;
  padding-inline: 0 16px;
  padding-block: 6px;
  gap: 8px;
  color: var(--color-green-70);
  background-color: transparent;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--border-radius);
  border: 0.5px solid transparent;

  &:hover:not([disabled], :active) {
    color: var(--color-green-90);
    border-color: var(--color-grey-40);
    background-color: var(--color-bg-ambient-10);
  }

  &:hover:active {
    color: var(--color-green-100);
    border-color: var(--color-grey-80);
    background-color: var(--color-bg-ambient-10);
  }
}

.layer-header__toggle-button {
  border-radius: var(--border-radius);
  border: 0.5px solid transparent;
  background-color: transparent;
  padding: 1.5px;
  color: var(--color-green-70);

  &:hover:not([disabled], :active) {
    color: var(--color-green-90);
    border-color: var(--color-grey-40);
    background-color: var(--color-bg-ambient-10);
  }

  &:hover:active {
    color: var(--color-green-100);
    border-color: var(--color-grey-80);
    background-color: var(--color-bg-ambient-10);
  }
}

// The header itself can be clicked
// :hover:not(:has(*:hover)) means “when the header itself is hovered, not one of its descendants”
.layer-header:hover:not(:has(*:hover)) {
  cursor: pointer;

  &:not([disabled], :active) {
    .layer-header__toggle-button {
      color: var(--color-green-90);
      border-color: var(--color-grey-40);
      background-color: var(--color-bg-ambient-10);
    }
  }

  &:active {
    .layer-header__toggle-button {
      color: var(--color-green-100);
      border-color: var(--color-grey-80);
      background-color: var(--color-bg-ambient-10);
    }
  }
}

.layer-container.is-active .layer__indicator {
  transform: rotate(-90deg);
}

.layer-container:not(.is-active) .layer__indicator {
  transform: rotate(90deg);
}

// Layer contents (collapses)
.layer-contents {
  padding: 32px;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  border-bottom: solid 1px var(--color-grey-40);
}

.layer-container.is-active > .layer-contents {
  display: flex;
}

.layer-container:not(.is-active) > .layer-contents {
  display: none;
}

// Actual table of layer rows
.layer-table {
  // -- Fancy rounded borders --
  // We don’t collapse the borders to allow rounded cells
  border-spacing: 0;

  $border-radius: 6px;
  $border: solid 1px var(--color-grey-50);

  table-layout: fixed;

  thead {
    z-index: var(--layer-table-thead-z-index);
    position: sticky;
    top: 32px;
  }

  th {
    border-top: $border;

    &:first-child {
      border-top-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
    }
  }

  th,
  td {
    border-bottom: $border;
    border-left: $border;

    &:last-child {
      border-right: $border;
      right: 0;
    }
  }

  tfoot {
    td:first-child {
      border-bottom-left-radius: $border-radius;
    }

    td:last-child {
      overflow: hidden;
      border-bottom-right-radius: $border-radius;
    }
  }
}

/* stylelint-disable-next-line block-no-empty */
.layer-table__thead {
}

.layer-table__th {
  color: var(--color-grey-80);
  background-color: var(--color-grey-20);
}

.layer-table__th--stats {
  padding-inline: 8px;
}

.layer-table__th--field {
  &:hover {
    background-color: var(--color-grey-30);
  }

  white-space: nowrap;
}

.layer-table-th__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-inline: 8px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-grey-50);
}

.layer-table-th__contents--resizable {
  min-width: 80px;
  resize: horizontal;
  overflow: hidden;
}

.layer-table__tr {
  height: 32px;
}

/* stylelint-disable-next-line block-no-empty */
.layer-table__tr--stats {
}

.layer-table__tr--highlight,
.layer-table__tr--highlight .layer-table__td {
  background-color: var(--color-attention-10);
}

.layer-table__tr--transition,
.layer-table__tr--transition .layer-table__td {
  transition: background-color 2s;
}

.layer-table__tr--created,
.layer-table__tr--created .layer-table__td {
  background-color: var(--color-attention-20);
}

// Table Cells
.layer-table__td {
  font-size: 12px;
  position: relative;
}

// Editable cells
.layer-table__td--editable {
  background: var(--color-bg);
}

// Field cells with text input
.layer-table__td--field {
  input,
  select {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    padding-block: 0;
    padding-inline: 6px;
    border-radius: 0;
    border: 2px solid transparent;
    background: transparent;
  }

  input:focus {
    background-color: rgb(215 233 221 / 50%);
    border: 2px solid white;
    outline: 1px solid var(--color-green-90);
  }
}

// Field cells with text (or text-like) values
.layer-table__td--text {
  input {
    font-family: var(--font-sans);
  }
}

// Field cells with number values
.layer-table__td--numerical {
  input {
    font-family: var(--font-mono);
    text-align: right;
  }
}

// Boolean Field cells: center checkbox and make the whole cell clickable
.layer-table__td--checkbox {
  > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    > input[type="checkbox"] {
      border: 1px solid var(--input-border-color);
      box-shadow: 0 1px 4px var(--color-grey-30) inset;
      height: 16px;
      width: 16px;
      accent-color: var(--color-green-70);
    }
  }
}

// Files and large text Field cells: customize the a to make it look clickable
.layer-table-td__button {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding-inline: 6px;
  text-decoration: none;
  font-family: var(--font-sans);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-bg-ambient-30);
  }

  &:hover:empty::before {
    content: "…";
  }
}

.layer-table-td__long-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Action Cell (rightmost)
.layer-table__td--actions {
  background-color: var(--color-grey-30);
  padding-inline: 2px;
}

// Stats cells (left and footer)
.layer-table__td--stats {
  font-family: var(--font-mono);
  white-space: nowrap;
  text-align: right;
  padding-inline: 8px;
}

// Footer for each layer
.layer-footer {
  width: calc(var(--left-pane-width) - 64px);
  transition: width var(--pane-transition);
  position: sticky;
  left: 32px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: baseline;
}

// Footer for the layer list
.footer__layer-list {
  width: var(--left-pane-width);
  transition: width var(--pane-transition);
  position: sticky;
  left: 0;
  padding: 16px;
}
