.legal__container {
  max-width: 850px;
  line-height: 1.5;
  padding: var(--content-padding);
}

.legal__nav {
  margin: 24px 0 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.legal__h1 {
  margin: 24px 0 16px;
  color: var(--color-green-90);
}

.legal__h2 {
  margin: 16px 0 12px;
  color: var(--color-green-80);
}

.legal__h3 {
  margin: 8px 0 0;
  color: var(--color-green-70);
}

.legal__ul {
  margin-left: 32px;
}

.legal__code {
  font-family: monospace;
  font-size: 0.8em;
}

.legal__indented {
  margin-inline: 16px;
}

.legal__table {
  text-align: left;
  margin-inline: 16px;

  th {
    vertical-align: top;
  }

  th,
  td {
    padding-inline: 8px;
    border: 0.5px solid var(--color-grey-90);
  }

  border-collapse: collapse;
}
