@use "sass:color";
@use "sass:map";

// Declare everything both as scss and css variables.
$variables: ();
$colors: (
  // AMBIENT COLOR
  --color-bg-ambient-10: #fffefa,
  --color-bg-ambient-20: #fcfaf3,
  --color-bg-ambient-30: #f7f4eb,
  --color-bg-ambient-40: #f3efe2,

  // GREY COLOR
  --color-grey-10: #f7f7f5,
  --color-grey-20: #f0efed,
  --color-grey-30: #e8e7e6,
  --color-grey-40: #d4d3d2,
  --color-grey-50: #afaeaa,
  --color-grey-60: #8e8e8c,
  --color-grey-70: #4d7a5d,
  --color-grey-80: #545452,
  --color-grey-90: #3d3d3c,
  --color-grey-100: #212120,

  // GREEN COLOR
  --color-green-10: #d7e9dd,
  --color-green-20: #c3dbcb,
  --color-green-30: #a8c9b4,
  --color-green-40: #96baa3,
  --color-green-50: #80a68d,
  --color-green-60: #638e72,
  --color-green-70: #4d7a5d,
  --color-green-80: #376647,
  --color-green-90: #1d4c2e,
  --color-green-100: #0d2e18,

  // ATTENTION COLOR
  --color-attention-10: #ffeece,
  --color-attention-20: #fdda94,
  --color-attention-30: #fabc1e,
  --color-attention-40: #915e04,

  // ERROR COLOR
  --color-error-10: #ffedee,
  --color-error-20: #fbc5c9,
  --color-error-30: #e62c41,
  --color-error-40: #b01a2b,

  // INFO COLOR
  --color-info-10: #d8f0f9,
  --color-info-20: #70caf1,
  --color-info-30: #299ae5,
  --color-info-40: #026ebb,

  // SUCCESS COLOR
  --color-succes-10: #ecfadc,
  --color-succes-20: #c4ed98,
  --color-succes-30: #8bbd54,
  --color-succes-40: #46790f,

  // COLOR TABLE
  --color-bg: #fff,
  --color-bg-secondary: #e9e9e9,
  --color-text: #000
);
$variables: map.merge($variables, $colors);
$fonts: (
  // MAIN FONTS
  --font-serif: 'georgia, "Times New Roman", times, serif, regular',
  --font-sans: "verdana, geneva, tahoma, sans-serif",
  --font-mono: 'menlo, "DejaVu Sans Mono", monospace'
);
$variables: map.merge($variables, $fonts);
$sizes: (
  // APP SIZES
  --header-height: 56px,
  --nav-height: 52px,
  --border-radius: 4px,
  --content-max-width: 1440px,
  --content-padding: 4rem,
  --content-padding-large: 5.5rem,
  --welcome-header-height: 164px
);
$variables: map.merge($variables, $sizes);
$z-indexes: (
  // Z-indexes
  --flash-z-index: 200,
  --modal-z-index: 500,
  --dropdown-z-index: 1000,
  --dragbar-z-index: 100,
  --active-layer-z-index: 10,
  --layer-header-z-index: 2,
  --layer-table-thead-z-index: 1,
  --map-overlay-z-index: 1
);
$variables: map.merge($variables, $z-indexes);
$shadows: (
  // SHADOW
  --box-shadow: 0 1px 6px rgba(map.get($colors, --color-grey-100), 0.3) // #21212048
);
$variables: map.merge($variables, $shadows);

:root {
  @each $name, $value in $variables {
    #{$name}: #{$value};
  }
}
