@use "variables";
@use "base";
@use "container";
@use "layer-table";
@use "field-form";
@use "flash";
@use "files";
@use "footer";
@use "icons";
@use "layer-form";
@use "list";
@use "import";
@use "map";
@use "landing-page";
@use "add_single_row";
@use "map_document";
@use "legal";
@use "message";
@use "modal";
@use "presence_indicator";
@use "popup";

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-ambient-20);
}

.search-result {
  border-radius: 5px;
  border: black;

  ul {
    list-style-type: none;
    text-align: start;

    li {
      cursor: pointer;
      font-family: var(--font-sans);

      &.active,
      &:hover {
        color: var(--color-green-60);
        text-decoration: underline;
      }

      mark {
        background-color: var(--color-attention-20);
      }
    }
  }
}
