@use "variables";
@use "sass:map";

@function cocarto-var($name) {
  @return map.get(variables.$variables, $name);
}

// Mailers specific rules; a small subset of css actually works.
// The main issue is with gmail’s lack of support for flex or css variables
// See https://developers.google.com/gmail/design/css?hl=en
// See also caniemail.com.

* {
  box-sizing: border-box;
}

body {
  background-color: #{cocarto-var(--color-bg-ambient-30)};
  font-size: 16px;
  font-family: #{cocarto-var(--font-serif)};
  color: #{cocarto-var(--color-text)};
  padding: 1px;
}

section {
  margin: 32px auto;
  padding: 32px;
  max-width: 600px;
}

.bordered-box {
  background-color: #{cocarto-var(--color-bg-ambient-10)};
  border-style: double;
  border-color: #{cocarto-var(--color-grey-100)};
  border-width: 3px;
}

footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding-inline: 8px;
  text-align: center;
  font-size: 14px;
  color: #{cocarto-var(--color-grey-60)};
}

p {
  padding-bottom: 8px;
  margin-top: 16px;
  margin-bottom: 8px;
}

a {
  color: #{cocarto-var(--color-green-70)};
}

.button {
  width: fit-content;
  height: 36px;
  display: block;
  padding: 6px 16px;
  border: 0;
  border-radius: #{cocarto-var(--border-radius)};
  text-decoration: none;
  font-family: #{cocarto-var(--font-serif)};
  white-space: nowrap;
  color: white;
  line-height: 1.5;
}

.button--confirm {
  background-color: #{cocarto-var(--color-green-70)};
  letter-spacing: 0.44px;
  min-width: 80px;

  &:hover:not([disabled], :active) {
    background-color: #{cocarto-var(--color-green-90)};
  }

  &:hover:active {
    background-color: black;
  }
}

.button--large {
  font-size: 18px;
  height: 40px;
  min-width: 40px;
}
