<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.display_name) %>,</p>
<% if @resource.invited_by.present? %>
  <p><%= t("devise.mailer.invitation_instructions.someone_invited_you", name: @resource.invited_by.display_name, url: root_url) %></p>
<% else %>
  <p><%= t("devise.mailer.invitation_instructions.anonymous_invitation", url: root_url) %></p>
<% end %>
<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token), class: "button button--confirm button--large" %></p>
<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :"devise.mailer.invitation_instructions.accept_until_format")) %></p>
<% end %>
<p><%= t("devise.mailer.invitation_instructions.ignore_html") %></p>
