<p><%= t("devise.mailer.reset_password_instructions.hello", email: @resource.email) %></p>
<p><%= t("devise.mailer.reset_password_instructions.someone_requested_password_change") %></p>
<p><%= link_to t("devise.mailer.reset_password_instructions.change_password"), edit_password_url(@resource, reset_password_token: @token), class: "button button--confirm button--large" %></p>
<p><%= t("devise.mailer.reset_password_instructions.ignore") %></p>
<p><%= t("devise.mailer.reset_password_instructions.password_wont_change_if_ignored") %></p>
