<%# locals: () %>

<footer class="footer">
  <section class="container footer__container">
    <div class="footer__column">
      <h3><%= t("common.app.title") %></h3>
      <ul>
        <li><%= link_to t(".presentation"), presentation_path %></li>
        <li><%= link_to t(".pricing"), presentation_path(anchor: "combien-ca-coute") %></li>
        <li><%= link_to t(".source_code"), "https://gitlab.com/CodeursEnLiberte/cocarto" %></li>
      </ul>
    </div>

    <div class="footer__column">
      <h3><%= t(".use_cases") %></h3>
      <ul>
        <li><%= link_to t(".crowdsourcing"), crowdsourcing_path %></li>
        <!-- li>Tableur</li -->
        <!-- li>Qualité des données</li -->
      </ul>
    </div>

    <div class="footer__column">
      <h3><%= t(".resources") %></h3>
      <ul>
        <li><%= link_to t(".privacy"), legal_data_path %></li>
        <li><%= link_to t(".terms_of_use"), legal_conditions_path %></li>
        <li><%= link_to t(".legal_notice"), legal_path %></li>
      </ul>
    </div>
  </section>
</footer>
