<%# locals: () %>

<div class="buttons-bar buttons-bar--loose">
  <%= link_to t("layouts.menu.sign_in"), new_user_session_path, class: "button button--large button--link" %>
  <%= link_to t("layouts.menu.sign_up"), new_user_registration_path, class: "button button--large button--confirm" %>
  <div class="dropdown" data-controller="dropdown">
    <button class="icon-button icon-button--double-bordered icon-button--large icon-button--dimmed"
            role="button" aria-haspopup="menu" aria-label="<%= t("layouts.menu.change_language") %>" aria-controls="languages-selector"
            data-action="click->dropdown#toggle" data-dropdown-target="trigger">
      <%= embedded_svg "language-selector.svg", class: "icon--tinted" %>
    </button>
    <div id="languages-selector" class="dropdown__content" data-dropdown-target="content">
      <div class="card__main-content card__main-content--slim">
        <%= link_to "English", url_for(locale: :en), class: "dropdown__item" %>
        <%= link_to "Français", url_for(locale: :fr), class: "dropdown__item" %>
      </div>
    </div>
  </div>
</div>
