<%# locals: () %>

<%# Sentry configuration for javascript (see also _sentry.html.erb for ruby configuration) %>
<% return unless Rails.env.production? || ENV.include?("COCARTO_DEBUG_SENTRY") %>
<% return if ENV["SENTRY_PUBLIC_KEY"].blank? %>

<script src="https://js.sentry-cdn.com/<%= ENV.fetch("SENTRY_PUBLIC_KEY") %>.min.js" crossorigin="anonymous"></script>
<script>
  Sentry.onLoad(function() {
    Sentry.init({
      release: "<%= (ENV.fetch("CONTAINER_VERSION") { "dev" }) %>", <%# Set by Scalingo, see https://doc.scalingo.com/platform/app/environment#runtime-environment-variables %>
      environment: "<%= Rails.env %>",
      sampleRate: 1.0, <%# Send all errors %>
      tracesSampleRate: 0.05 <%# Send only 5% of transactions %>
    });
    Sentry.setUser({ id: "<%= current_user&.id %>" });
  });
</script>
