<%# locals: (field:, order: Ordering::Order.new) %>
<%# Table header for a field. Used in layers/rows and broadcast from FieldsController and from Field hooks. %>

<%# If there are several layers, there are several “new field” buttons.
   We need to identify the element when broadcasting a new field before this one in Field#after_create_commit %>
<% element_id = field.persisted? ? dom_id(field) : dom_id(field.layer, :new_field) %>

<th id="<%= element_id %>" class="dropdown layer-table__th layer-table__th--field" data-controller="dropdown">
  <div class="<%= class_names("layer-table-th__contents", "layer-table-th__contents--resizable" => field.persisted?) %>"
       data-dropdown-target="trigger"
       data-action="click->dropdown#toggle"
       aria-haspopup="true">
    <% if field.persisted? %>
      <%= embedded_svg "lock-closed.svg", class: "icon--smaller" if field.locked? %>
      <%= embedded_svg "triangle.svg", class: "icon--smaller field-form__icon--ascending" if order.field == field && order.asc? %>
      <%= embedded_svg "triangle.svg", class: "icon--smaller" if order.field == field && order.desc? %>
      <%= field.label %>
      <%= embedded_svg "chevron_droite.svg", class: "icon--smaller icon--tinted dropdown__indicator" %>
    <% else %>
      <button class="icon-button icon-button--small" title="<%= t("helpers.link.field.new") %>">
        <%= embedded_svg "ajouter_cercle.svg", class: "icon--small icon--tinted" %>
      </button>
    <% end %>
  </div>
  <div class="dropdown__content" role="menu" data-dropdown-target="content">
    <%# frame_id is the same as in fields/form.html.erb %>
    <% frame_id = field.persisted? ? dom_id(field, :frame) : dom_id(field.layer, :new_field_frame) %>
    <% if field.persisted? %>
      <%= turbo_frame_tag frame_id, src: edit_field_path(field, order_direction: order.direction_for_field(field)), loading: "lazy" %>
    <% else %>
      <%= turbo_frame_tag frame_id, src: new_layer_field_path(field.layer), loading: "lazy" %>
    <% end %>
  </div>
</th>
