<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "mailer.css" %>
  </head>

  <body>
    <main>
      <section class="bordered-box">
        <%= yield %>
      </section>
    </main>

    <footer>
      <p><%= t(".footer_html", root_url: root_url) %></p>
    </footer>
  </body>
</html>
