<%#
  Modal layout; automatically rendered if needed. (See layout/turbo_rails/frame.html.erb)
%>

<turbo-frame id="modal">
  <div data-controller="modal" id="modal-container" class="modal__container"
       data-action="turbo:submit-end->modal#submitEnd keydown.esc@window->modal#escape">
    <div class="modal__overlay" data-action="click->modal#close"></div>
    <div class="bordered-box modal__box">
      <div class="modal__close-button">
        <button class="button button--close" data-action="modal#close" title="<%= t("common.close") %>"><%= embedded_svg "close.svg" %></button>
      </div>
      <div data-modal-target="content" class="modal">
        <%= yield %>
      </div>
    </div>
  </div>
</turbo-frame>
