<%# locals: (row:) %>

<%# renders a hidden form for a new Row with connectors to stimulus controllers. Used in layers/edit %>
<% if row.layer.geometry_territory? %>
  <div
    class="form__field form__field--inline"
    data-controller="new-territory">
    <%= render SearchComponent.new(form: dom_id(row.layer, :new_territory_form), field: "row[territory_id]", layer_id: row.layer.id, field_id: nil, territory: nil) %>
    <%= form_with model: [row.layer, row], id: dom_id(row.layer, :new_territory_form), data: {"new-territory-target": "form"} do |form| %>
      <%= form.submit t("helpers.link.territory.new"), class: "button button--confirm", disabled: true, data: {new_territory_target: "submit", action: "new-territory#save"} %>
    <% end %>
  </div>
<% else %>
  <%= form_with model: [row.layer, row], data: {layer_target: "newRowForm", layer_id: row.layer.id}, html: {hidden: true} do |form| %>
    <%= form.hidden_field :geojson, data: {layer_target: "geojsonField", layer_id: row.layer.id} %>
    <%= form.submit %>
  <% end %>
<% end %>
