<div data-controller="restricted" data-restricted-role-value="<%= "#{@role_type}-#{current_user_identifier}" %>">
  <%= render "form", row: @row, focus_field: @focus_field, from_rows_new: false %>
</div>
